<div *ngIf="products$ | async as products">
    <app-search-input (search)="onChangeSearch($event)" />
    <div  class="product__product-card">
        <div *ngFor="let product of products.products">
            <app-product-card
                [brand]="product.brand"
                [id]="product.id"
                [name]="product.title"
                [price]="product.price"
                [rating]="product.rating"
                [stock]="product.stock"
                [thumbnailSrc]="product.thumbnail"
            />
        </div>
    </div>

    <app-paginator 
        [currentPage]="currentPage"
        [itemsPerPage]="limit"
        [totalItems]="totalItems"
        [pageSizeOptions]="10"
        (pageChanged$)="onChangePage($event)"
        (pageChangedSize$)="onChangePageSize($event)" 
    />
</div>
